<script setup lang="ts" >
import { ref } from "vue";
const num = ref(0);
</script>

<template >
  <div class="on">
    <v-text-field label="Please input Number" v-model.number="num" :rules="[(v) => !!v || 'Number is not empty!!']"
      required></v-text-field>
    <v-row>
      <v-col cols="1" v-for="index in num" :key="index">
        {{ index }}
      </v-col>
    </v-row>

  </div>

</template>

<style>
.on {
  margin-top: 2em;
}
</style>


