<script lang="ts" setup>
import { ref } from "vue";

const message = ref("Smile");
const face = ref("../../feeling_imgs/smile.png");

function angry() {
  message.value = "Angry";
  face.value = "../../feeling_imgs/angry.png";
}

function cute() {
  message.value = "Cute";
  face.value = "../../feeling_imgs/cute.png";
}

function excited() {
  message.value = "Excited";
  face.value = "../../feeling_imgs/excited.png";
}

function pain() {
  message.value = "Pain";
  face.value = "../../feeling_imgs/pain.png";
}

function shocked() {
  message.value = "Shocked";
  face.value = "../../feeling_imgs/shocked.png";
}

function smile() {
  message.value = "Smile";
  face.value = "../../feeling_imgs/smile.png";
}

</script>

<template>
  <v-container style="margin-top: 2em;">
    <v-row>
      <v-col>
        <v-img :src="face" width="500px" />
      </v-col>

      <v-col class="font">{{ message }}

        <div>
          <v-btn :color="message === 'Angry' ? 'yellow' : 'white'" class="wbt" @click="angry">ANGRY</v-btn>
        </div>

        <div>
          <v-btn :color="message === 'Cute' ? 'yellow' : 'white'" class="wbt" @click="cute">CUTE</v-btn>
        </div>

        <div>
          <v-btn :color="message === 'Excited' ? 'yellow' : 'white'" class="wbt" @click="excited">EXCITED</v-btn>
        </div>

        <div>
          <v-btn :color="message === 'Pain' ? 'yellow' : 'white'" class="wbt" @click="pain">PAIN</v-btn>
        </div>

        <div>
          <v-btn :color="message === 'Shocked' ? 'yellow' : 'white'" class="wbt" @click="shocked">SHOCKED</v-btn>
        </div>

        <div>
          <v-btn :color="message === 'Smile' ? 'yellow' : 'white'" class="wbt" @click="smile">SMILE</v-btn>
        </div>

      </v-col>
    </v-row>
  </v-container>

</template>

<style scoped>
.wbt {
  width: 500px;
  height: 50px;
  text-align: center;
  margin-top: 1em;
}

.font {
  font-size: 40px;
  text-align: center;
}
</style>