<script lang="ts" setup>
import { ref, reactive } from "vue";

const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);

class product {
  id: number;
  name: String;
  price: number;
  constructor(id: number, name: String, price: number) {
    this.id = id;
    this.name = name;
    this.price = price;
  }
}

const productList = reactive<product[]>([]);

let sum = ref(0);

function add(product: product) {
  productList.push(product);
  sum.value = sum.value + product.price;
}

</script>

<template>
  <v-container>
    <v-row>
      <v-col cols="6">
        <v-card style="overflow: auto" height="550px">
          <v-row>
            <v-col cols="4" v-for="item of products" :key="item.id">
              <v-card class="sizebox">
                <div>
                <label class="fontProduct">{{ item.name }}</label>                   
                </div>
                <div>
                <label>{{ item.price }}</label> <br />                  
                </div>
                <div>
                <v-btn @click="add(item)">add</v-btn>                  
                </div>

              </v-card>
            </v-col>
          </v-row>
        </v-card>
      </v-col>

      <v-col cols="6">
        <v-card class="table">
          <v-table>
            <thead>
              <th>id</th>
              <th>name</th>
              <th>price</th>
            </thead>
            <tbody>
              <tr v-for="item of productList" :key="item.id">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.price }}</td>
              </tr>
              <tr>
                <td colspan="5" style="text-align: center" v-if="productList.length === 0">
                  No Data
                </td>
              </tr>
            </tbody>
          </v-table>
        </v-card>

        <h1>Sum: {{ sum }}</h1>
      </v-col>
    </v-row>
  </v-container>

</template>

<style scoped>
.fontProduct {
  font-size: 20px;
}

.sizebox {
  height: 110px;
  width: 150px;
  text-align: center;
}

.table {
  height: 550px;
  overflow: auto;
  text-align: center;
}
</style>