<script setup lang="ts">
import { ref } from 'vue';
const num = ref(0);

function decrement() {
  if (num.value > 0)
    num.value--;
}

function increment() {
  num.value++;
}

</script>
<template>
  <v-container style="margin-top: 2em;" class="font">
    <v-row>
      <v-col>
        <p>First Component</p>
        <p>{{ num }}</p>
        <v-btn class="btn" @click="increment">INCREMENT</v-btn>
      </v-col>

      <v-col>
        <p>Second Component</p>
        <p>{{ num * 2 }}</p>
        <v-btn class="btn" @click="decrement">DECREASE</v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>

.font {
  font-weight: bold;
}
.btn {
  margin-top: 2em;
  width: 120px;
}
</style>